<footer>

            <div class="mythemes-black-side">
                <div class="container mythemes-copyright">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p>
                                <span class="copyright">Copyright © {{ site.Title }}</span>
                                <span>Designed by <a href="http://mythem.es/" target="_blank" title="myThem.es">myThem.es</a>.</span>
                            </p>
                        </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="mythemes-social">
                                <a href="https://twitter.com/simon_mott" class="mythemes-icon-twitter " target="_blank"></a><a href="https://github.com/tsumaru720" class="mythemes-icon-github " target="_blank"></a><a href="https://www.flickr.com/photos/tsumaru720" class="mythemes-icon-flickr " target="_blank"></a><a href="https://www.facebook.com/dementedidiot" class="mythemes-icon-facebook " target="_blank"></a><a href="{{ "feed/" | absURL }}" class="mythemes-icon-rss " target="_blank"></a>                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
